.center {
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 250px;
}

.password-wrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
}
