
.sidebar {
    background-color: rgb(37, 150, 190);
    opacity: 1;
    position: absolute;
    width: 15%;
    height: 100vh;
    padding-top: 50px;
}

.sideheader {
    background-color:brown;
    justify-content:center;
    align-items:center;
    width: 15%;
    height: 10vh;
}

.sidecontent{
    justify-content:center;
    padding-top:10px;
    padding-bottom:10px;
}

.content-wrapper {
    width: 450px;
    height: 510px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    min-width: 200px;
    min-height: 400px;
    margin: auto;
    background-color:white;
    justify-content:center;
}
.content-labels {
    height: inherit;
    width: 200px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    align-content: center;
    float: left;
}

.content-input {
    height: inherit;
    width: 200px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    float: right;
    display: block;
    align-content: center;
}

.labelspacing {
    display: inline-block;
    line-height:30px;
    margin-bottom: 10px;
}

.inputspacing{
    margin-bottom: 10px;
}
