
.sidebar {
    background-color: rgb(37, 150, 190);
    opacity: 1;
    position: absolute;
    width: 15%;
    height: 100vh;
    margin-right: 15%;
    padding-top: 50px;
}

.sideheader {
    background-color:brown;
    justify-content:center;
    align-items:center;
    width: 15%;
    height: 10vh;

}

.sidecontent{
    justify-content:center;
    padding-top:10px;
    padding-bottom:10px;
}

.content {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 400px;
    min-height: 400px;
    margin-left:10%;
}
