
/* Student account page CSS */
.content-wrapper {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    justify-content: center;
}
.content-labels {
    height: inherit;
    width: 200px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    align-content: center;
    float: left;
}

.content-input {
    height: inherit;
    width: 200px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    float: right;
    display: block;
    align-content: center;
}

.labelspacing {
    display: inline-block;
    line-height:30px;
    margin-bottom: 10px;
}

.inputspacing{
    margin-bottom: 10px;
}

/* Student calender page CSS */
.calendar-wrapper {
    width: 800px;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    background-color: white;
    justify-content: center;
    align-content: center;
    padding-top: 35px;
}

.calendar {
    position: relative;
    justify-content: center;
    align-content: center;
    display:flex;
}

.data {
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
}

/* Student Account Page */

.schedule-wrapper {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    margin: auto;
    display:block;
    background-color: white;
    justify-content:center;
}

.schedule {
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
}
